CompileFlags:
  Add:
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Core/Inc"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Drivers/STM32F4xx_HAL_Driver/Inc"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Drivers/STM32F4xx_HAL_Driver/Inc/Legacy"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Drivers/CMSIS/Device/ST/STM32F4xx/Include"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Drivers/CMSIS/Include"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/BSP/Board"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/BSP/Interface"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/APP"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Middleware/MultiTimer"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Middleware/LwRB/include"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Middleware/letter-shell-shell3.1/src"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Middleware/Easylogger/inc"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/BSP/Driver"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/APP/demos"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Middleware/MultiButton"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/APP/tasks"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/BSP/Driver/LibDriver/AT24Cxx/src"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/BSP/Driver/LibDriver/AT24Cxx/interface"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/BSP/Driver/LibDriver/AT24Cxx/example"
    - "-ID:/Keil5/STM32Projects/SkyStar/BSP/V2/SkyStar_BSP_HAL/Middleware/LittleFS"
    - "-DUSE_HAL_DRIVER"
    - "-DSTM32F407xx"
    - "-DLWRB_DISABLE_ATOMIC"
    - "--target=arm-none-eabi"
    - "-mcpu=cortex-m4"
  Remove:
    - "-mcpu=*"
    - "-mfpu=*"
    - "-mfloat-abi=*"

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
